<div class="login-wrapper" fxLayoutAlign="center center">
  <mat-card class="box" fxFlex.gt-xs="500px">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form fxFlexFill fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" required type="email">
        <!--        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput>
        <button
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          mat-icon-button
          matSuffix>
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-card-actions
        fxLayout="column"
        fxLayoutGap="16px">
        <button color="primary" mat-raised-button>Log in</button>
        <button color="primary" mat-stroked-button>Don't have account? Register</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
