<div class="card-grid">
  <mat-card class="product-card mat-elevation-z4" *ngFor="let product of products">
    <img mat-card-image [src]="product.imageUrl" alt="Product photo">
    <mat-card-title>{{product.productName}}</mat-card-title>
    <mat-card-content>
      <span class="price-tag">{{product.price}} RON</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="onAddToCartClick(product)">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</div>
