# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.PcMAG2.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Mirceaboss\Documents\GitRepos\PcMAG2\.idea\.idea.PcMAG2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
